<header>
  <nav class="navbar">
      <div class="navbar-container container">
          <input type="checkbox" name="" id="">
          <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
          </div>
          <ul class="menu-items">
              <li><a href="#" data-page="home" data-i18n="menu.home">Home</a></li>
              <li><a href="#" data-page="our-story" data-i18n="menu.ourStory">Our Story</a></li>
              <li><a href="#" data-page="travel-guide" data-i18n="menu.travel">Travel Guide</a></li>
              <li><a href="#" data-page="thing-do" data-i18n="menu.thingDo">Things to Do</a></li>
              <li><a href="#" data-page="Photos" data-i18n="menu.photo">Photos</a></li>
              <li><a href="#" data-page="rsvp" data-i18n="menu.rsvp">RSVP</a></li>
              <li><a href="#" data-page="venue" data-i18n="menu.venue">Venue</a></li>
              <li><a href="#" data-page="faq" data-i18n="menu.photo">FAQ</a></li>
          </ul>
      </div>
  </nav>
</header>
