<div class="album">
    <section class="hero">
        <div class="hero-content">
            <h2 data-aos="fade-up">15 & 16 NOVERBER 2025</h2>
        </div>
    </section>
 
    <!-- Photo Gallery Section 1 -->
    <section class="photo-gallery">
        <div class="gallery-grid">
            <div class="gallery-item">
                <img data-aos="fade-down" data-aos-delay="300" loading="lazy" src="assets/images/photos/DSCF0376_websize.jpg" alt="Couple kissing">
            </div>
            <div class="gallery-item">
                <img data-aos="fade-down" data-aos-delay="500" loading="lazy" src="assets/images/photos/DSCF0420_websize.jpg" alt="Couple hugging with dog">
            </div>
            <div class="gallery-item">
                <img data-aos="fade-down" data-aos-delay="650" loading="lazy" src="assets/images/photos/DSCF8725_websize.jpg" alt="Couple intimate moment">
            </div>
        </div>
    </section>

    <!-- Names Section -->
    <section class="names">
        <div class="names-container">
            <div class="name-left">
                <h2 data-aos="slide-down" data-aos-delay="300">WEDDING PHOTO</h2>
            </div>
            <div class="name-center">
                <h2 data-aos="slide-down" data-aos-delay="500">ANNA & JASON</h2>
            </div>
            <div class="name-right">
                <h2 data-aos="slide-down" data-aos-delay="650">ALWAYS & FOREVER</h2>
            </div> 
        </div>
    </section>

    <!-- Featured Photo Section -->
    <section class="featured-photo">
        <div data-aos="zoom-in-up" class="featured-container">
            <img loading="lazy" class="logo" src="assets/images/photos/logo.png" alt="">
            <img loading="lazy" class="main-photo" src="assets/images/photos/DN_00521.JPG" alt="Couple indoor celebration">
        </div>
    </section>

    <!-- Journey Section -->
    <section class="journey">
        <div class="journey-container">
            <div class="journey-text journey-item">
                <h2 data-aos="fade-left">A JOURNEY IS BETTER<br>WHEN SHARED.</h2>
                <div class="journey-photo">
                    <img loading="lazy" data-aos="fade-up" src="assets/images/photos/DN_00739.JPG" alt="Couple walking outdoors">
                </div>
            </div>
            <div class="journey-gallery journey-item">
                <div class="journey-photo">
                    <img data-aos="fade-in" data-aos-delay="200" loading="lazy" src="assets/images/photos/DN_00728.JPG" alt="Couple at lake">
                </div>
                <div class="journey-photo">
                    <img data-aos="flip-right" data-aos-delay="600" loading="lazy" src="assets/images/photos/DN_00615.JPG" alt="Couple sitting by water">
                </div>
            </div>
            <div class="journey-gallery journey-item">
                <div class="journey-photo img-1">
                    <img data-aos="zoom-in" data-aos-delay="400" loading="lazy" src="assets/images/photos/DN_00761.JPG" alt="Couple at lake">
                </div>
                <div class="journey-photo img-2">
                    <img data-aos="fade-right" data-aos-delay="800" loading="lazy" src="assets/images/photos/DN_00750.JPG" alt="Couple sitting by water">
                </div>
            </div>
        </div>
    </section>

    <!-- Final Hero Section -->
    <section class="final-hero">
        <div class="final-hero-content">
            <div class="final-hero-text">
                <p data-aos="fade-down">“WE COME TO LOVE NOT BY FINDING A PERFECT PERSON, </br> BY LEARNING TO SEE AN IMPERFECT PERSON PERFECTLY”</p>
                <h2 data-aos="fade-right">A LOVE STORY<br>BROUGHT TO LIFE</h2>
            </div>
        </div>
    </section>
</div>
