<div class="faq">
  <section class="hero">
    <div class="hero-content">
    </div>
  </section>

  <div class="faq-content">
    <div class="faq-item">
      <div class="icon">
        <img src="assets/images/icons/question.png" alt="">
      </div>
      <div class="content">
        <h2>What is the dress code for the traditional ceremony?</h2>
        <p>Women: Please wear something elegant. Given the sacred nature of this particular event, please do not wear something too revealing. Please do not wear black</p>
        <p>Men: Please wear a tuxedo or dark suit and dark solid tie with a white button up shirt.</p>
        <p>It is also the same dress code as the Tea Ceremony and Wedding Hall.</p>
      </div>
    </div>
  
    <div class="faq-item">
      <div class="icon">
        <img src="assets/images/icons/question.png" alt="">
      </div>
      <div class="content">
        <h2>Can I wear the same outfit for the tea ceremonyand the Wedding Hall ceremony?</h2>
        <p>Yes. We will go straight to the Wedding Hall after the Tea Ceremony.</p>
      </div>
    </div>
  
    <div class="faq-item">
      <div class="icon">
        <img src="assets/images/icons/question.png" alt="">
      </div>
      <div class="content">
        <h2>How do I get from Tam Coc to the Ninh Binh hotel hall?</h2>
        <p>A bus will bring all the guests to the hall from Na’s Cafe.</p>
      </div>
    </div>
  
    <div class="faq-item">
      <div class="icon">
        <img src="assets/images/icons/question.png" alt="">
      </div>
      <div class="content">
        <h2>Is there anything planned for Saturday night 15th Novor are we free to roam around?</h2>
        <p>No, there is no specific plan on that night. We recommend guests to visit the Pho DI Bo Ninh Binh Walking Street in town. A beautiful temple is lit up at night on a small island in the lake and there are alot of Viet-namese food vendors there as well. You may want to go to bed early as the bus will pick you up 7am the next day to Halong Bay!</p>
        <p>Will I have a private room and bathroom on the cruise? Yes, you will share with your family or partner.</p>
      </div>
    </div>
  
    <div class="faq-item">
      <div class="icon">
        <img src="assets/images/icons/question.png" alt="">
      </div>
      <div class="content">
        <h2>Will I have a private room and bathroomon the cruise?</h2>
        <p>Yes, you will share with your family or partner.</p>
      </div>
    </div>
  </div>
</div>
