<div class="home-contaier">
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h1 data-aos="fade-up">Jason & Anna</h1>
      <p data-aos="fade-down" class="wedding-date">15 & 16 NOVEMBER 2025</p>
    </div>
  </section>

  <!-- Wedding Timeline Section -->
  <section class="wedding-timeline">
    <div class="timeline-image">
      <img loading="lazy" data-aos="fade-in" src="assets/images/home/g128.png" alt="Jason and Anna" />
    </div>
    <div class="timeline-content">
      <h2 data-aos="slide-right">WEDDING TIMELINE</h2>

      <!-- Friday Event -->
      <div class="timeline-event">
        <h4 data-aos="fade-in">FRIDAY, 14TH NOVEMBER</h4>
        <h4 data-aos="fade-in">WELCOME DINNER: GROOM'S SIDE ONLY</h4>
        <p data-aos="fade-in" class="time">6:00PM -8:00PM</p>
        <a data-aos="fade-up" href="#" class="location">LOCATION: UPDATE ON THAT DAY</a>
      </div>

      <img loading="lazy"
        class="divier-icon"
        src="assets/images/icons/g312.png"
        alt=""
      />
      <!-- Hors d'oeuvres -->
      <div class="timeline-event">
        <h5 data-aos="fade-in">AFTER DINNER (BOTH BRIDE AND GROOM SIDE)</h5>
        <h4 data-aos="fade-in">HORS D’OEUVRES AND COCKTAILS</h4>
        <p data-aos="fade-in" class="time">8:00PM - LATE</p>
        <a data-aos="fade-up" href="https://maps.app.goo.gl/P1zAx6nWxfkDRtdE8" class="location">LOCATION: NA’S HOUSE CAFE</a>
      </div>
    </div>
  </section>

  <!-- Tea Ceremony Section -->
  <section class="tea-ceremony">
    <div class="tea-ceremony-container">
      <div class="tea-ceremony-content">
        <h2 data-aos="slide-left">TEA CEREMONY</h2>
        <p data-aos="fade-up">
          The Tea Ceremony is the first step of the marriage journey, where families meet, exchange gifts, and give blessings.
        </p>
        <p data-aos="fade-up">
          The groom’s family arrives with traditional wedding gifts 
        </br>Gifts are exchanged and families warmly introduced 
        </br> Group photos with gift bearers capture the day’s joy. 
        </p>

        <img loading="lazy"
          class="divier-icon"
          src="assets/images/icons/g312.png"
          alt=""
        />

        <div class="event-details">
          <h3 data-aos="slide-left">SATURDAY, 15TH NOVEMBER 2025</h3>
          <p data-aos="fade-up" class="time">07:00AM - 09:30AM</p>
          <div data-aos="fade-up" class="location-box">
            <img loading="lazy"
              src="assets/images/icons/map_icon.png"
              style="width: 11px; height: 15px"
              alt="map icon"
            />
            <a target="_blank" href="https://maps.app.goo.gl/P1zAx6nWxfkDRtdE8" class="location">NA’S HOUSE - NINH BINH</a>
          </div>
          <p data-aos="fade-down" class="dresscode-lable dresscode">Dresscode:</p>
          <p data-aos="fade-left" class="dresscode-desc dresscode">ELEGANT (MORE DETAIL ON FAQ)</p>
        </div>
      </div>

      <div class="tea-ceremony-images">
        <img data-aos="zoom-in" loading="lazy"
          src="assets/images/home/g172.jpg"
          alt="Tea ceremony celebration"
        />
        <img data-aos="zoom-in" loading="lazy"
          src="assets/images/home/186.jpg"
          alt="Tea ceremony guests"
        />
        <p class="dresscode-lable dresscode">Dresscode:</p>
        <p class="dresscode-desc dresscode">ELEGANT (MORE DETAIL ON FAQ)</p>
      </div>
    </div>
  </section>

  <!-- Traditional Wedding Section -->
  <section class="traditional-wedding">
    <div class="traditional-mobile">
      <h2 data-aos="fade-right">TRADITIONAL WEDDING</h2>
      <p data-aos="fade-up">
        The Traditional Wedding is the moment the couple officially becomes
        husband and wife, surrounded by family and friends.
      </p>
    </div>
    <div class="wedding-images">
      <div class="img-box">
        <!-- <img data-aos="flip-right" loading="lazy"
          src="https://res.cloudinary.com/storehue/image/upload/v1759812653/wedding/jason-anna/hone-page/DDD_3901_s44elj.webp"
          alt="Wedding ceremony"
        /> -->
        <img data-aos="zoom-in" data-aos-delay="250" src="assets/images/home/DDD_3901.avif" alt="">
      </div>
      <div class="img-box">
        <!-- <img data-aos="flip-up" loading="lazy"
          style="object-position: 100% 35%"
          src="https://res.cloudinary.com/storehue/image/upload/v1759812653/wedding/jason-anna/hone-page/AN_07582_grme21.webp"
          alt="Wedding couple" 
        />-->
        <img data-aos="zoom-in" data-aos-delay="500" style="object-position: 100% 35%" src="assets/images/home/AN_07582.avif" alt="">

      </div>
      <div class="img-box">
        <!-- <img data-aos="zoom-in" loading="lazy"
          style="object-position: 100% 35%"
          src="https://res.cloudinary.com/storehue/image/upload/v1759812653/wedding/jason-anna/hone-page/AN_07574_d9gwmp.webp"
          alt="Wedding celebration" 
        />-->
        <img data-aos="zoom-in" data-aos-delay="750" style="object-position: 100% 35%" src="assets/images/home/AN_07574.avif" alt="">

      </div>
      <div class="img-box">
        <!-- <img data-aos="flip-up" loading="lazy"
          src="https://res.cloudinary.com/storehue/image/upload/v1759812653/wedding/jason-anna/hone-page/DDD_3986_nysyws.webp"
          alt="Wedding party" 
        />-->
        <img data-aos="zoom-in" data-aos-delay="1000" src="assets/images/home/DDD_3986.avif" alt="">

      </div>
    </div>

    <div class="wedding-content">
      <h2 data-aos="slide-right" class="traditional-desktop">TRADITIONAL WEDDING</h2>
      <p data-aos="fade-up" class="traditional-desktop">
        The Traditional Wedding is the moment the couple officially becomes
        husband and wife, surrounded by family and friends.
      </p>

      <h3 data-aos="slide-right">HIGHLIGHTS</h3>
      <p data-aos="fade-up" class="small">
        Guests take photos with the Bride & Groom. Sacred rituals seal the union
        with love and tradition. We are excited to share these meaningful
        traditions and celebrate together.
      </p>
      <img loading="lazy"
        class="divier-icon"
        src="assets/images/icons/g312.png"
        alt=""
      />
      <div class="event-details">
        <h3 data-aos="fade-down">SATURDAY, 15TH NOVEMBER 2025</h3>
        <p data-aos="fade-in" class="time">10:30 AM – 01:00 PM</p>
        <div class="location-box">
          <a data-aos="fade-right" href="https://maps.app.goo.gl/4Pv8x7uEWvx3b7WZA" class="location">NINH BÌNH LENGEND HOTEL</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Cruise Reception Section -->
  <section class="cruise-reception">
    <h2 data-aos="fade-down">CRUISE RECEPTION</h2>
    <p data-aos="fade-right">
      A Western-style celebration on a cruise, featuring our vow exchange, dinner, a lively after-party,
    </p>
    <p data-aos="fade-right">An evening of love, joy, and unforgettable memories at sea.</p>
    <img loading="lazy"
        class="divier-icon-mobile"
        src="assets/images/icons/g312.png"
        alt=""
      />
    <div class="cruise-details">
      <div class="date-time">
        <h3 data-aos="fade-in">DATE & TIME</h3>
        <p data-aos="fade-right">Sunday, 16th November till</p>
        <p data-aos="fade-right">Monday, 17th November</p>
        <div class="location-box">
          <a data-aos="fade-in" href="#" class="location">VENUS CRUISES - HA LONG BAY</a>
        </div>
        <p data-aos="fade-up" class="embarkation">
          Block 19B - Terminal 2, Lot 2 -<br />Tuan Chau - Ha Long
        </p>
      </div>
      <img loading="lazy"
        class="divier-icon-mobile"
        src="assets/images/icons/g312.png"
        alt=""
      />
      <div class="dresscode">
        <h3 data-aos="fade-in">DRESSCODE</h3>
        <h4 data-aos="fade-in">ATTIRE</h4>
        <p data-aos="fade-right">
          Our Wedding color palette is all about soft elegance! Ladies, please
          join us in wearing soft neutral shades (champagne, cream, ivory, light
          gold, pale yellow, & light brown)
        </p>
        <div class="dress-colors first">
          <div class="color-palette">
            <span data-aos="fade-right" data-aos-delay="0" class="color-box" style="background: #fdf9caff"></span>
            <span data-aos="fade-right" data-aos-delay="300" class="color-box" style="background: #fbe8adff"></span>
            <span data-aos="fade-right" data-aos-delay="600" class="color-box" style="background: #dcaf37ff"></span>
            <span data-aos="fade-right" data-aos-delay="900" class="color-box" style="background: #a07448ff"></span>
            <span data-aos="fade-right" data-aos-delay="1200" class="color-box" style="background: #d08f56ff"></span>
          </div>
        </div>
        <div class="dress-colors second">
          <p data-aos="fade-down" class="dress-note">
            For Gentlemen, you can choose to wear a tuxedo or suit, white shirt
            and tie. Please be sure your tie and suit matches the color pallet
            below.
          </p>
          <div class="color-palette">
            <span data-aos="fade-right" data-aos-delay="1000" class="color-box" style="background: #000000ff"></span>
            <span data-aos="fade-right" data-aos-delay="1300" class="color-box" style="background: #15223aff"></span>
            <span data-aos="fade-right" data-aos-delay="1600" class="color-box" style="background: #102929ff"></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Agenda Section -->
  <section class="agenda">
    <h2>AGENDA</h2>

    <div class="agenda-content">
      <!-- Reception Dinner -->
      <div data-aos="fade-down" class="genda-itema">
        <h3>RECEPTION DINNER - 16TH NOVEMBER 2025</h3>
        <p class="time">07:00 | Shuttle bus from Ninh Bình to Tuần Châu Port</p>
        <p class="time">
          11:00 | Check-in at Port then the Tender will take you to the
          luxurious Venus Cruise
        </p>
        <p class="time">
          13:00 | Enjoy lunch as the cruise passes through the scenic spots of
          Lan Ha Bay
        </p>
        <p>15:30 | Welcome Guest at Sundesk</p>
        <p class="time">16:30 | Intimate Ceremony</p>
        <p class="time">17:15 | Cocktail Hour & Photo time</p>
        <p class="time">18:30 | Reception dinner</p>
        <p class="time">20:30 | After Party at Sundesk</p>
        <p class="time">21:00 | First Dance</p>
        <p class="time">21:30 | Bouquet Toss</p>
        <p class="time">22:00 | Chillout</p>
      </div>

      <!-- The Day After Wedding -->
      <div data-aos="fade-down" class="agenda-item">
        <h3>THE DAY AFTER WEDDING - 17.11.2025</h3>
        <p class="tradition-text">Feel free to pick the activities you like.</p>
        <p class="time">
          6:00 | Tai Chi session on the sundeck & Light Breakfast
        </p>
        <p class="time">
          6:15 - 7:30 | Bamboo trip to explore Dark and Light Caves, Swimming or
          Kayaking at the back of the ship
        </p>
        <p class="time">
          9:00 - 10:30 | Back to Big Boat & Enjoy the Soft Lunch, Checkout -
          Good bye Venus Cruise
        </p>
        <p class="time">
          10:30 - 11:10 | Farewell to the Cruise Team. Move to Tuần Châu Port
        </p>
        <p class="time">12:00 | Farewell</p>
      </div>
    </div>
  </section>
</div>
