<div class="our-story">
  <section class="hero">
    <div class="hero-content">
      <h2 class="all-because">all because</h2>
      <h2>TWO PEOPLE</h2>
      <h2 class="fall-in">fall in <span>LOVE</span></h2>
    </div>
  </section>

  <section class="story-container">
    <!-- Story Part 1: 2022 Singapore -->
    <div class="story-1 story-block">
      <div class="story-image">
        <img src="assets/images/our-story/01.png" alt="Anna in Singapore" />
      </div>
      <div class="story-content">
        <h2 class="main-title">
          Our love story
        </h2>
        <p class="text-1">
          In 2022, Jason and his friend CS went to the famous Raffles Hotel in Singapore to try a famous Singapore
          drink.
        </p>
        <p class="text-2">
          They went to the wrong restaurant and bumped into Anna where she was working. They ended up having dinner
          there because where they wanted to go had a long line.
        </p>
        <p class="text-3">
          With CS’s help and a lot of luck, Jason was able to get Anna’s number. This was the start of our love story.
        </p>
        <p class="text-4">
          Anna put in her notice at work a few days before she met Jason. She about to leave Singapore for good.
        </p>
      </div>
    </div>

    <!-- Story Part 2: Hanoi 2022 -->
    <div class="story-2 story-block">
      <div class="story-content">
        <p>A few days after, Jason had a business trip in Hanoi meanwhile Anna also had her ticket in advance to set up
          her new Cafe in Vietnam.</p>
        <p>This is our first pics together in Hanoi 2022.</p>
      </div>
      <div class="story-image">
        <img class="image-2" src="assets/images/our-story/2-2.png" alt="">
        <img class="image-1" src="assets/images/our-story/2-1.png" alt="">
      </div>
    </div>

    <!-- Story Part 3 -->
    <div class="story-3 story-block">
      <div class="story-image">
        <div class="column-1 box-img">
          <img src="assets/images/our-story/3-3.png" alt="">
        </div>
        <div class="column-2 box-img">
          <img src="assets/images/our-story/3-1.png" alt="">
          <img src="assets/images/our-story/3-2.png" alt="">
        </div>
      </div>
      <div class="story-content">
        <h2 class="story-title">
          July 2024 - NYC </br> Our very first pics in NY together
        </h2>
        <p>After losing contact with each other for some time, by sheer luck, we became reunited in New York. At the
          persuasion by Anna’s mom, they booked a last minute trip to New York. On her way to NY, Anna reached out to
          Jason to see if he could join her for some coffee. Jason bought a ticket that day and joined Anna in NY by
          that night.</p>
      </div>
    </div>
    <!-- Story 4 -->
    <div class="story-4 story-block">
      <div class="story-content">
        <h2 class="story-title">
          AUGUST 2024 SINGAPORE
        </h2>
        <p>We went back to where we started our love.</p>
        <div class="box-img">
          <img src="assets/images/our-story/4-1.jpg" alt="">
        </div>
      </div>
      <div class="story-image">
        <div class="img-box">
          <img class="image-1" src="assets/images/our-story/4-2.jpg" alt="">
        </div>
        <div class="img-box">
          <img class="image-2" src="assets/images/our-story/4-3.jpg" alt="">
        </div>
      </div>
    </div>

    <!-- Story 5 -->
    <div class="story-5 story-block">
      <div class="story-image">
        <div class="column-1 box-img">
          <img src="assets/images/our-story/5-1.png" alt="">
        </div>
        <div class="column-2 box-img">
          <img src="assets/images/our-story/5-2.png" alt="">
          <img src="assets/images/our-story/5-3.png" alt="">
        </div>
      </div>
      <div class="story-content">
        <h2 class="story-title">
          AUGUST 2024 </br> HA LONG BAY - NINH BINH
        </h2>
      </div>
    </div>

    <!-- Story 6 -->
    <div class="story-6 story-block">
      <div class="story-content">
        <h2 class="story-title">
          SEPTEMBER </br> HANOI - NINH BINH - </br>PENANG - SINGAPORE
        </h2>
      </div>
      <div class="story-image">
        <div class="row-1 row">
          <img class="image-1" src="assets/images/our-story/6-1.png" alt="">
          <img class="image-2" src="assets/images/our-story/6-2.png" alt="">
        </div>
        <div class="row-2 row">
          <img class="image-1" src="assets/images/our-story/6-3.png" alt="">
          <img class="image-2" src="assets/images/our-story/6-4.png" alt="">
          <img class="image-3" src="assets/images/our-story/6-5.png" alt="">
        </div>
      </div>
    </div>


    <!-- Story Part 7 -->
    <div class="story-7 story-block">
      <div class="story-image">
        <img class="image-1" src="assets/images/our-story/7-1.png" alt="">
        <img class="image-2" src="assets/images/our-story/7-2.png" alt="">
      </div>
      <div class="story-content">
        <h2 class="story-title">
          OCTOBER: TAIWAN
        </h2>
        <p>Our first long flight to the US together</p>
      </div>
    </div>

    <!-- story 8 -->
    <div class="story-8 story-block">
      <div class="story-content">
        <h2 class="story-title">
          LATS OCTOBER HALLOWEEN IN NEW YORK
        </h2>
      </div>
      <div class="story-image">
        <img class="image-1" src="assets/images/our-story/8-1.png" alt="">
        <img class="image-2" src="assets/images/our-story/8-2.png" alt="">
      </div>
    </div>

    <!-- story 9 -->
    <div class="story-9 story-block">
      <div class="story-image">
        <img src="assets/images/our-story/9.png" alt="">
      </div>
      <div class="story-content">
        <h2 class="story-title">
          NOVEMBER 2025 </br>MEXICAN FOOD IN DALLAS
        </h2>
      </div>
    </div>

    <!-- story 10 -->
    <div class="story-10 story-block">
      <div class="story-content">
        <h2 class="story-title">
          ANNA’S FIRST TIME IN SAVANNAH
        </h2>
      </div>
      <div class="story-image">
        <img src="assets/images/our-story/10.png" alt="">
      </div>
    </div>

    <!-- story 11 -->
    <div class="story-11 story-block">
      <div class="story-image">
        <img class="image-1" src="assets/images/our-story/11-1.png" alt="">
        <img class="image-2" src="assets/images/our-story/11-2.jpg" alt="">
      </div>
      <div class="story-content">
        <h2 class="story-title">
          DECEMBER 2025 SINGAPORE
        </h2>
      </div>
    </div>

    <!-- story 12 -->
    <div class="story-12 story-block">
      <div class="story-content">
        <h2 class="story-title">
          CHRISTMAS 2025 IN CHATTANOOGA
        </h2>
        <p>Where Jason grew up at the Ray family home</p>
      </div>
      <div class="story-image">
        <img src="assets/images/our-story/12.jpg" alt="">
      </div>
    </div>

    <!-- story 13 -->
    <div class="story-13 story-block">
      <div class="story-image">
        <img src="assets/images/our-story/13.jpg" alt="">
      </div>
      <div class="story-content">
        <h2 class="story-title">
          FEBRUARY 2025 DANANG - HOI AN
        </h2>
      </div>
    </div>

    <!-- story 14 -->
    <div class="story-14 story-block">
      <div class="story-content">
        <h2 class="story-title">
          MARCH 2025 SAVANNAH
        </h2>
        <p>Anna is about to get her surprise trip</p>
      </div>
      <div class="story-image">
        <img src="assets/images/our-story/14.png" alt="">
      </div>
    </div>

    <!-- Story 16 -->
    <div class="story-16 story-block">
      <div class="story-image">
        <div class="column-1 box-img">
          <img src="assets/images/our-story/16-1.jpg" alt="">
        </div>
        <div class="column-2 box-img">
          <img src="assets/images/our-story/16-2.jpg" alt="">
          <img src="assets/images/our-story/16-3.jpg" alt="">
        </div>
      </div>
      <div class="story-content">
        <h2 class="story-title">
          MARCH 2025: CENTRAL PARK NYC
        </h2>
      </div>
    </div>

    <!-- Story 17 -->
    <div class="story-17 story-block">
      <div class="story-content">
        <h2 class="story-title">
          MAY 2025: </br>BORACAY, PHILIPPINES
        </h2>
        <div class="box-img">
          <img src="assets/images/our-story/17-1.png" alt="">
        </div>
      </div>
      <div class="story-image">
        <div class="img-box">
          <img class="image-1" src="assets/images/our-story/17-2.png" alt="">
        </div>
        <div class="img-box">
          <img class="image-2" src="assets/images/our-story/17-3.png" alt="">
        </div>
      </div>
    </div>

    <!-- Story Part 18 -->
    <div class="story-18 story-block">
      <div class="story-image">
        <img class="image-1" src="assets/images/our-story/18-1.jpg" alt="">
        <img class="image-2" src="assets/images/our-story/18-2.jpg" alt="">
      </div>
      <div class="story-content">
        <h2 class="story-title">
          JUNE 2025
        </h2>
        <p>Jason’s first time attending a Vietnamese wedding. This was Anna’s brother’s wedding</p>
      </div>
    </div>

    <!-- Story 19 -->
    <div class="story-19 story-block">
      <div class="story-content">
        <h2 class="story-title">
          JULY 2025: </br>BALI, INDONESIA
        </h2>
      </div>
      <div class="story-image">
        <div class="img-box">
          <img class="image-1" src="assets/images/our-story/19-1.png" alt="">
        </div>
        <div class="img-box">
          <img class="image-2" src="assets/images/our-story/19-2.png" alt="">
        </div>
      </div>
    </div>

    <!-- story 20 -->
    <div class="story-20 story-block">
      <div class="story-image">
        <img src="assets/images/our-story/20.jpg" alt="">
      </div>
      <div class="story-content">
        <h2 class="story-title">
          JULY 2025: CHATTANOOGA
        </h2>
        <p>Jason picking up Anna from her bridal shower in Chattanooga. This was prepared by his mom. Vietnamese do not
          have such a tradition</p>
      </div>
    </div>

     <!-- story 21 -->
     <div class="story-21 story-block">
       <div class="story-content">
         <h2 class="story-title">
          JASON’S BIRTHDAY
         </h2>
         <p>Anna’s first time to make a cake</p>         
       </div>
      <div class="story-image">
        <img src="assets/images/our-story/21.png" alt="">
      </div>
    </div>

        <!-- story 22-->
        <div class="story-22 story-block">
          <div class="story-image">
            <img class="image-1" src="assets/images/our-story/22-1.jpg" alt="">
            <img class="image-2" src="assets/images/our-story/22-2.jpg" alt="">
          </div>
          <div class="story-content">
            <h2 class="story-title">
              SEPTEMBER - HANO
            </h2>
            <p>Our first year Anniversary</p>
          </div>
        </div>

  </section>
</div>