<div class="things-do">
    <section class="hero">
        <div class="hero-content">
            <h2>15 & 16 NOVERBER 2025</h2>
        </div>
    </section>
    <section class="container">
        <div class="title">
            <h2>THINGS TO DO AND RESTAURANT RECOMMENDATIONS</h2>
            <img loading="lazy" class="divier-icon" src="assets/images/icons/g312.png" alt="" />
        </div>
        <div class="content">
            <div class="item">
                <button>Ha Noi</button>
                <div class="image-container">
                    <div class="row1 row">
                        <div data-url="" class="col col-2">
                            <img loading="lazy" src="assets/images/things-do/hanoi/BÚn Chả Obama.jpg" alt="">
                            <div class="overlay">
                                <h3>Bún Chả Obama</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-2">
                            <img loading="lazy" src="assets/images/things-do/hanoi/BÚn Dọc mùng - 18 bát dàn.jpg" alt="">
                            <div class="overlay">
                                <h3>Bún Dọc Mùng - 18 Bát Dàn</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row2 row">
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/hanoi/Cafe Giảng.jpg" alt="">
                            <div class="overlay">
                                <h3>Cafe Giảng</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/hanoi/Hanoi Train Street Coffee.jpg" alt="">
                            <div class="overlay">
                                <h3>Hanoi Train Street Coffee</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/hanoi/loading-t-cafe.jpg" alt="">
                            <div class="overlay">
                                <h3>T Cafe</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row3 row">
                        <div data-url="" class="col col-2">
                            <img loading="lazy" src="assets/images/things-do/hanoi/Mẹt.jpg" alt="">
                            <div class="overlay">
                                <h3>Mẹt</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-2">
                            <img loading="lazy" src="assets/images/things-do/hanoi/Note Coffee.jpg" alt="">
                            <div class="overlay">
                                <h3>Note Coffee</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row4 row">
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/hanoi/Pizza 4P.jpg" alt="">
                            <div class="overlay">
                                <h3>Pizza 4P</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/hanoi/pho-khoi-hanoi.jpg" alt="">
                            <div class="overlay">
                                <h3>Phở Khôi</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/hanoi/pho-thin-hanoi-01_1690860094.jpg" alt="">
                            <div class="overlay">
                                <h3>Phở Thìn</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row5 row">
                        <div data-url="" class="col col-2">
                            <img loading="lazy" src="assets/images/things-do/hanoi/Phở Tư Lùn.jpg" alt="">
                            <div class="overlay">
                                <h3>Phở Tư Lùn</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-2">
                            <img loading="lazy" src="assets/images/things-do/hanoi/quan-an-ngon-2.jpg" alt="">
                            <div class="overlay">
                                <h3>Quán Ăn Ngon 2</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divier">
                <img loading="lazy" class="divier-icon" src="assets/images/icons/g312.png" alt="" />
            </div>
            <div class="item">
                <button>Ninh Binh</button>
                <div class="image-container">
                    <div class="row1 row">
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Banana Tree hostel.jpg" alt="">
                            <div class="overlay">
                                <h3>Banana Tree Hostel</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Bich Dong Pagoda.webp" alt="">
                            <div class="overlay">
                                <h3>Bich Dong Pagoda</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/bich-dong-pagoda.jpg" alt="">
                            <div class="overlay">
                                <h3>Bich Dong Pagoda</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row2 row">
                        <div data-url="" class="col col-2">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Bridge 7 - NB.jpg" alt="">
                            <div class="overlay">
                                <h3>Bridge 7 - Ninh Binh</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-2">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Comnieu.jpg" alt="">
                            <div class="overlay">
                                <h3>Cơm Niêu</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row3 row">
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Chookie Beer Garden.jpg" alt="">
                            <div class="overlay">
                                <h3>Chookie Beer Garden</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Family restaurant.jpg" alt="">
                            <div class="overlay">
                                <h3>Family Restaurant</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Hoa_Lu_Ancient_Town_Ninh_Binh.png" alt="">
                            <div class="overlay">
                                <h3>Hoa Lu Ancient Town</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row4 row">
                        <div data-url="" class="col col-2">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Little Italy - Ninh Binh.jpg" alt="">
                            <div class="overlay">
                                <h3>Liite Italy</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-2">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Mua Cave mountain.jpg" alt="">
                            <div class="overlay">
                                <h3>Mua Cave Mountain</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row5 row">
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Tamcoc Kitchen.jpg" alt="">
                            <div class="overlay">
                                <h3>Tamcoc Kitchen</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Thai Vi Pemple.jpg" alt="">
                            <div class="overlay">
                                <h3>Thai Vi Pemple</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-3">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Ngon Vegan.jfif" alt="">
                            <div class="overlay">
                                <h3>Ngon Vegan</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row6 row">
                        <div data-url="" class="col col-2">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/trang-an-boat-tour.jpg" alt="">
                            <div class="overlay">
                                <h3>Trang An Boat Tour</h3>
                            </div>
                        </div>
                        <div data-url="" class="col col-2">
                            <img loading="lazy" src="assets/images/things-do/ninhbinh/Thung-Nham-Bird-Park-2.jpg" alt="">
                            <div class="overlay">
                                <h3>Thung Nham Bird Park</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            
        </div>
    </section>
</div>