<div class="venue">
    <section class="hero">
        <div class="hero-content">
        </div>
    </section>
    <!-- Section 1: Na's House Cafe -->
    <section class="feature-section cafe-section">
        <div class="full-width-image">
            <img data-aos="fade-in" loading="lazy" src="assets/images/venue/image1.webp" alt="Na's House Cafe exterior">
            <div class="overlay-text">
                <div class="description-left">
                    <p data-aos="fade-left">
                        Located in Ninh Binh, the prior Capital of Vietnam before Hanoi. Ninh Binh is now known as the 'Ha Long Bay on Land' thanks to its magical landscape, with sheer limestone mountains rising up from the rice pad-dies.  
                    </p>
                    <p data-aos="fade-right">
                        Anna and her Mom, acting as the construction managers, directly over-saw the build of Na’s House cafe. They completed it a year after Anna started her first cafe.
                    </p>
                </div>
                <div class="title-right">
                    <h2 data-aos="slide-right">NA'S HOUSE CAFE</h2>
                    <p class="subtitle" data-aos="fade-up">The cafe has lots of beautiful lanterns and plants throughout. It is only a 10 minute walk from the Athena Resort. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 2: Ninh Binh Legend Hotel -->
    <section class="feature-section hotel-venue">
        <div class="two-column-layout">
            <div class="image-column">
                <img data-aos="fade-down" loading="lazy" src="assets/images/venue/image2.webp" alt="Hotel pool view 1">
                <img data-aos="fade-up" loading="lazy" src="assets/images/venue/image3.webp" alt="Ninh Binh Legend Hotel" class="main-image">
            </div>
            <div class="text-column">
                <h2 data-aos="slide-right">NINH BINH LEGEND HOTEL</h2>
                <p data-aos="fade-up">
                    Blending French-inspired elegance with modern comfort, Ninh Binh Legend offers spacious rooms, warm décor, and thoughtful details that make every stay feel special.
                </p>
                <p data-aos="fade-up" data-aos-delay="200">
                   From here, you’ll enjoy sweeping views of Ninh Binh’s majestic mountains and the UNESCO-rec-ognized Trang An landscape, with tranquil cor-ners, a poolside retreat, and sky-high bars to take in the scenery.
                </p>
                <p data-aos="fade-up" data-aos-delay="400">
                    It’s more than just a hotel — it’s a setting where nature, culture, and elegance come together. And it’s the perfect backdrop to celebrate love, create memories, and share in the joy of this wedding.
                </p>
            </div>
        </div>
    </section>

    <!-- Section 3: Venus Cruises Halong -->
    <section class="feature-section cruise-section">
        <div class="two-column-layout reverse">
            <div class="text-column column">
                <h2 data-aos="slide-left" data-aos-offset="-200">VENUS CRUISES HALONG </h2>
                <p data-aos="fade-up" data-aos-offset="-200">
                    Sailing through the emerald waters of Hạ Long Bay, Venus Cruise combines modern comfort with the timeless beauty of a UNESCO World Heritage site. With elegant cabins, open decks, and breathtaking bay views, it is the perfect setting to celebrate love and create unforgettable memories together.
                </p>
            </div>
            <div class="image-column column">
                <div class="image-grid-vertical">
                    <img data-aos="zoom-in" da loading="lazy" src="assets/images/venue/image4.webp" alt="Cruise room interior">
                    <img data-aos="zoom-out" loading="lazy" src="assets/images/venue/img5.webp" alt="Cruise deck at night">
                </div>
            </div>
        </div>
    </section>
</div>